<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>image</td>
            </tr>

            <tr>
                <td>@Html.ActionLink("Home","Index", "Home")
                @Html.ActionLink("AboutUs", "AboutUs", "Home")
                @Html.ActionLink("ContactUs","ContactUs", "Home")
                @Html.ActionLink("Login","Login", "Home")</td>
            </tr>
            <tr>
                <td>
                    @RenderBody()
                </td>
            </tr>
            <tr>
                <td>
                    Copyright@2018

                </td>
            </tr>
        </table>
       
    </div>
</body>
</html>
