@model IEnumerable<PAMS.DAL.tblClient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.clientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clientId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.clientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clientId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
