@model IEnumerable<PAMS.Models.Technology>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.techid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.technology)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.techid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.technology)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.techid }) |
            @Html.ActionLink("Details", "Details", new { id=item.techid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.techid })
        </td>
    </tr>
}

</table>
